{% extends "base.html" %}

{% block content %}

<div class="page-section">
    <h1>My Orders</h1>
    <p>View your previous purchases and order status.</p>
</div>

{% if orders %}

<div class="order-table-wrapper">
    <table class="order-table">
        <thead>
            <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Total</th>
                <th>Payment</th>
                <th>Order Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for order in orders %}
            <tr>
                <td>#{{ order.id }}</td>

                <td>
                    {{ order.created_at|date:"M d, Y" }}
                </td>

                <td>
                    Rs. {{ order.total_price }}
                </td>

                <td>
                    {{ order.get_payment_method_display }}
                </td>

                <td>
                    {{ order.get_order_status_display }}
                </td>

                <td>
                    <a href="{% url 'order_detail' order.pk %}" class="btn">
                        View Order
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}

<div class="empty-state">
    <p>You haven't placed any orders yet.</p>

    <a href="{% url 'product_list' %}" class="btn">
        Start Shopping
    </a>
</div>

{% endif %}

{% endblock %}